:root {
    --light: #F5F5F5;
    --dark: #333;
    --orange: #f59802;
    --box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

html {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 100%, transparent), url("https://www.iamsterdam.com/media/locations-ndtrc/museums/rijksmuseum-john-lewis-marshall.jpg");
    background-size: cover, cover;
    background-position: center, center;
}

body{
    margin: 0;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

header {
    text-align: center;
}

header,
main {
    margin: 1rem;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
    text-transform: uppercase;
    color: var(--light);
}

h3 {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: var(--dark);
}

button {
    background: none;
    border: none;

    margin-left: 1em;
}

.fas {
    color: var(--light);
}

input {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    color: var(--light);

    background: none;
    border: none;
    border-bottom: 2px solid var(--light);

    padding: 0.5em 0.5em 0.5em 0;
}

*:focus {
    outline: none;
}

.search {
    display: flex;
    justify-content: flex-end;

    margin-left: 0.5rem;
}

.objects {
    display: flex;
    overflow-x: scroll;

    margin-top: 3em;
}

.link {
    background-color: var(--light);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: center;

    margin: 0.5rem;
    padding: 0.5rem;

    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.link.active .object .title .title-name {
    color: var(--orange);
}

.object .title .title-name {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

section > .object .title .title-name {
    font-size: 1.5em;
    color: var(--orange);
}

.object img{
    max-height: 250px;
    max-width: 40vw;
}

section {
    display: none;
}

section.active{
    display: flex;
    justify-content: center;
}

section > .object {
    background-color: var(--light);

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;

    text-align: center;

    margin: 0.5rem;
    padding: 0.5rem;

    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.presenting-date {
    margin-top: 1.5em;
}

.presenting-date > span {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.date {
    font-weight: 400;
}

.colors {
    display: flex;
    flex-direction: column;

    margin-top: 1.5em;
}

.colors span {
    font-weight: 700;
}

.colors .not-defined {
    font-weight: 400;
}

.colors ul {
    display: flex;
    list-style: none;

    overflow-x: scroll;
    max-width: 45vw;
    padding: 0;
    margin: 0;
}

.colors ul .hex-color {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 100px;
    height: 100px;

    border-radius: 4px;

    margin: 0.5rem;
}

.colors ul .hex-color:first-child {
    margin-left: 0;
}

.colors ul .hex-color:last-child {
    margin-right: 0;
}

.no-data {
    display: flex;
    justify-content: center;
    width: 100vw;

    color: var(--light);
}