body{
    margin: 0;
}

main {
    display: flex;
    overflow-x: scroll;
}

.object {
    display: flex;
    flex-direction: column;

    /*width: 350px;*/
    margin: 0.5rem;
}

.object:first-child {
    margin-left: 1rem;
}

.object:last-child {
    margin-right: 1rem;
}

.object img{
    max-height: 250px;
}

ul {
    list-style: none;
}
